@* Driver Sidebar - Same style as Admin/YardManager, with limited navigation *@
<aside id="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-brand">
            <div class="sidebar-logo-box">
                <img src="~/images/yardops-logo.png" alt="YardOps" class="sidebar-logo-img" />
            </div>
            <div class="sidebar-brand-text">
                <span class="sidebar-brand-title">YardOps</span>
                <span class="sidebar-brand-subtitle">Driver Portal</span>
            </div>
        </div>
    </div>

    <nav class="sidebar-nav">
        <a href="#" class="nav-item-link">
            <i class="fa-solid fa-clipboard-list"></i>
            <span>My Assignment</span>
        </a>
        <a href="#" class="nav-item-link">
            <i class="fa-solid fa-truck"></i>
            <span>Trailer Details</span>
        </a>
    </nav>

    <div class="sidebar-footer">
        <button class="collapse-btn sidebar-toggle-btn" id="sidebarToggle">
            <i class="fa-solid fa-angles-left" id="toggleIcon"></i>
            <span>Collapse Sidebar</span>
        </button>
    </div>
</aside>