@using YardOps.Pages.Admin.Trailers
@model IndexModel

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Location</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Dwell (min)</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody id="viewHistoryRows">
            <tr>
                <td colspan="5" class="text-muted text-center">No history records found.</td>
            </tr>
        </tbody>
    </table>
</div>