@page
@model YardOps.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["PageHeader"] = "Profile Settings";
}

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}

<div class="profile-container">
    <partial name="_Partials/_ProfileCard" model="Model" />
    <partial name="_Partials/_ChangePasswordCard" model="Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_Partials/_ProfileScripts" />
}
