@page
@model ExotracYMS.Pages.Admin.Users.IndexModel
@{
    ViewData["Title"] = "Users";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<a asp-page="./Create" class="btn btn-primary mb-3">
    Add New User
</a>
